$primary: #9458B8;
$sucess: #27C460;
$info: #63ACFF;
$warning: #FF952B;
$danger: #FF4778;
$dark-purple: #520E7A;
$text-color: #949494;
$search-bar: #FFFDEE;
$style1: #FFFDEE;
$hover: #F3E1FE;
$background: #FFF5FF;
$accent: #FFD52C;
$filler: #632887;
$text-2: #565656;
$main-bg: #f5f5f5;

// $elevation: {
//     background: #fff;
//     box-shadow: 2px 8px 20px rgba(148, 148, 148, 0.1)
// }

